@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

.section1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(../../../images/deitado-vinil.jpg);
    background-size: cover;
    background-position: center; 
    margin: 0;
    margin-top: 0px;
    position: relative;
    width: 100%;
    height: 720px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}

.firstText{
padding-left: 100px;
}

.bigText{
    font-family: 'Bebas Neue', cursive;
    font-size: 120px;
    font-weight: bolder;
    color:white; 
    margin-left: 50px;
    width: 800px;
    height: 350px;
    margin-top: 0px;
    padding-bottom: 30px;
    margin:0px;
}

.littleText{
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: black;
    font-size: 55px;
    text-align: center;
    width: 300px;
    height: 75px;
    font-weight: bold;
    margin-top: 1rem;

}

@media (max-width:1350px) {

    .bigText{
    font-size: 80px;
    padding-left: 10px;
    margin-left: 10px;
    padding-bottom: 10px;
    width: 350px;
    height: 350px;
    margin-bottom: 10px;
    }

    .firstText{
        padding-left: 10px;
    }
    .littleText{
       
        font-size: 35px;
        margin-left: 10px;
        width: 200px;
        height: 50px;
    }
}
