@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
nav{
    font-family: 'Bebas Neue';
    font-size: 40px;
    background-color:#1d1c1c;
    font-weight: bold;
    padding: 10px;
    padding-left: 90px;
    padding-right: 100px;
 
}
.divNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    
}
.imgVinyl{
    width: 70px;
}
.Link-Nav{
    text-decoration: none;
}

.iconTitle{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 250px;
    font-size: 50px;
}

.listUl{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    font-size: 20px;
}

nav a{
    text-decoration: none;
    color:white;
    
}

.listLi{
    padding:17px;

}

.nav-link:hover{
    color:#e5840f;
}
/* .title:hover{
    color: rgb(245, 84, 9);;
} */

 @media (max-width:1350px) {
.divNav{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
nav{
   padding: 0px;
   padding-left: 0px;
   padding-right: 0px;
   padding-bottom: 1rem;

}
.imgVinyl{
width: 3rem;
}
.titleNav{
    font-size: 3rem;
}
.listUl{

    font-size: 1rem;
    height: 60px;
    text-align: center;
    padding-right: 10px;
}

.listLi{
    padding:10px;

}

}