@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');
.navClass{
    font-family: 'Bebas Neue';
    background-color:#1d1c1c;
    font-weight: bold; 
    margin-right: 5px;
}
.textRobot{
    font-family: 'Roboto', sans-serif;
}

@media (max-width:1350px) {
    .btnLogout{
        margin-top:0.5rem;
        margin-left: 0.5rem;
    }
}